* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 400px;
  /* height: 600px; */
  padding: 25px 15px;
  background-color: #3c3c3c;
  border-radius: 50px;
}

.row {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}